{% extends 'base.html.twig' %}

{% block title %}Index!{% endblock %}

{% block body %}
    <br>
    <div class="row">
        <div class="col-8">
            <a class="page-link" href="{{ path('admin_categories') }}">Categories</a>
            <a class="page-link" href="{{ path('admin_articles_create') }}">New article</a>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Active</th>
                    <th>
                        <a class="page-link" href="{{ path('admin', {
                            page: thisPage,
                            sort: sort == 'desc' ? 'asc' : 'desc',
                            category: app.request.get('category'),
                        }) }}">Date sort</a>
                    </th>
                </tr>
                </thead>
                <tbody>

                {% for article in articles %}
                    <tr>
                        <td>{{ article.title }}</td>
                        <td>{{ article.status }}</td>
                        <td>{{ article.createdAt|date("Y-m-d h:m:i") }}</td>
                        <td>
                            <a class="" href="{{ path('admin_articles_edit', {
                                id: article.id,
                            }) }}">Edit</a>
                            <a class="" href="{{ path('admin_articles_remove', {
                                id: article.id
                            }) }}">Remove</a>
                        </td>                    </tr>
                {% endfor %}
                </tbody>
            </table>

            {{ include('includes/_pagination.html.twig', {'pathName' : 'admin'}) }}
        </div>
    </div>

{% endblock %}
