{% extends 'base.html.twig' %}

{% block title %}Index!{% endblock %}

{% block body %}
    <br>
    <div class="row">
        <div class="col-8">
            <a class="page-link" href="{{ path('admin') }}">Articles</a>
            <a class="page-link" href="{{ path('admin_categories_create') }}">New category</a>
            <br>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Parent</th>
                </tr>
                </thead>
                <tbody>
                    {% import 'includes/_admin_tree.html.twig' as tree %}
                    {{ tree.list(categories, thisPage) }}
                </tbody>
            </table>

            {{ include('includes/_pagination.html.twig', {'pathName' : 'admin'}) }}
        </div>
    </div>

{% endblock %}
