{% extends 'base.html.twig' %}

{% block title %}Index!{% endblock %}

{% block body %}
    <br>
    <div class="row">
        <div class="col-8">
            <a class="page-link" href="{{ path('admin') }}">Articles</a>
            <br>
            {{ form_start(form) }}
            {{ form_widget(form.save, {'label': button_label|default('Save') }) }}
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}
