{% macro list(items, thisPage) %}
    {% import _self as tree %}
    {% for item in items %}
            <tr>
                <td>
                    <a class="" href="{{ path('index', {
                        page: thisPage,
                        category: item.title,
                    }) }}">{{ item.title }}</a>
                </td>
                <td>
                    {% if item.parentCategory != null %}
                        <a class="" href="{{ path('index', {
                            page: thisPage,
                            category: item.parentCategory.title,
                        }) }}">{{ item.parentCategory.title }}</a>
                    {% endif %}
                </td>
                <td>
                    <a class="" href="{{ path('admin_categories_edit', {
                        id: item.id,
                    }) }}">Edit</a>
                    <a class="" href="{{ path('admin_categories_remove', {
                        id: item.id
                    }) }}">Remove</a>
                </td>
                {% if item.children %}
                    {{ tree.list(item.children, thisPage) }}
                {% endif %}
            </tr>
        {% endfor %}
{% endmacro %}