<div class="row justify-content-end mt-3">
    <nav class="col">
        <ul class="pagination justify-content-end">
            <li class="page-item" {{ thisPage == 1 ? 'class="disabled"' }}>
                <a class="page-link" href="{{ path(pathName, {
                    page: thisPage <= 1 ? 1 : thisPage - 1,
                    sort: app.request.get('sort'),
                    category: app.request.get('category'),
                }) }}">«</a>
            </li>

            {% for i in 1..maxPages %}
                {% if i > 0 %}
                    <li class="page-item {{ thisPage == i ? 'active' }}" >
                        <a class="page-link" href="{{ path(pathName, {
                            page: i,
                            sort: app.request.get('sort'),
                            category: app.request.get('category'),
                        }) }}">{{ i }}</a>
                    </li>
                {% endif %}
            {% endfor %}

            <li class="page-item" {{ thisPage == maxPages ? 'class="disabled"' }}>
                <a class="page-link" href="{{ path(pathName, {
                    page: thisPage < maxPages ? thisPage + 1 : thisPage,
                    sort: app.request.get('sort'),
                    category: app.request.get('category'),
                }) }}">»</a>
            </li>
        </ul>
    </nav>
</div>
