{% macro list(items, thisPage, sort) %}
    {% import _self as tree %}
    <ul class="ui list">
        {% for item in items %}
            <li>
                <a class="page-link" href="{{ path('index', {
                    page: thisPage,
                    sort: sort == 'desc' ? 'asc' : 'desc',
                    category: item.title,
                }) }}">{{ item.title }}</a>
                {% if item.children %}
                    {{ tree.list(item.children, thisPage, sort) }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endmacro %}