{% extends 'base.html.twig' %}

{% block title %}Index!{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-8">

            <a class="page-link" href="{{ path('index', {
                page: thisPage,
                sort: sort == 'desc' ? 'asc' : 'desc',
                category: app.request.get('category'),
            }) }}">Date sort</a>

            {% for article in articles %}
                <div class="card mt-5">
                    <h5 class="card-header">{{ article.title }}</h5>
                    <div class="card-body">
                        <p class="card-text">{{ article.preview }}</p>
                    </div>

                    <div class="card-footer">
                        {{ article.createdAt|date("Y-m-d h:m:i") }}
                        {{ article.category.title }}
                        <span>
                        {#Author: <a href="#">{{ article.author.fullname }}</a>#}
                        </span>
                        <a class="btn btn-primary" href="{{ path('show', {'slug' : article.slug}) }}">Read more</a>
                    </div>
                </div>
            {% endfor %}
            {{ include('includes/_pagination.html.twig', {'pathName' : 'index'}) }}
        </div>

        <div class="col-4">
            {{ include('menu.html.twig') }}
        </div>
    </div>

{% endblock %}
