{% extends 'base.html.twig' %}

{% block title %}Index!{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-8">
                <div class="card mt-5">
                    <h5 class="card-header">{{ article.title }}</h5>
                    <div class="card-body">
                        <p class="card-text">{{ article.text }}</p>
                    </div>

                    <div class="card-footer">
                        {{ article.createdAt|date("Y-m-d h:m:i") }}
                        {{ article.category.title }}
                        <span>
                        </span>
                    </div>
                </div>
        </div>
    </div>

{% endblock %}
